<head data-th-fragment="add_weight">
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://allfont.ru/allfont.css?fonts=capture-it" rel="stylesheet" type="text/css"/>
  <link href="https://allfont.ru/allfont.css?fonts=roboto-condensed" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="css/login.css">
  <link rel="stylesheet" href="css/main.css">
  <script type="text/javascript" src="js/addWeight.js"></script>
  <script type="text/javascript" src="js/jquery/jquery.js"></script>
  <script type="text/javascript" src="js/login.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</head>